body {
    background:#0d0d0d;
    font-family: 'DM Mono', serif;
    color: white;
}

a {
    text-decoration: none;
}

.title {
    color: #C1FF4F;
    margin: 0;
}

em {
    color: #C1FF4F;
    font-style: normal;
}

.welcome_box {
        padding: 50px 50px;
        border-bottom: 1px solid #1a1a1a;
}

.comments {
    color: #C1FF4F;
}

.welcome_text {
    font-family: 'DM Serif Display', serif;
    line-height: 1.1;
    font-size: 2rem;
}

.navigation_bar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #1a1a1a;
    font-size: 1rem;
    padding: 20px 50px;
}

.navigation_buttons {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    display: flex;
}

.nav_button {
    height: auto;
    width: auto;
    background: none;
    color: gray;
    border: none;
    font-size: 1rem;
}

.nav_button:hover {
    color: #ffff;
    cursor: pointer;
}

.summary {
    width: 600px;
    color: gray;
}

#main_buttons {
    display: flex;
    gap: 10px;
    padding-top: 30px;
}

#main_projects_btn {
    padding: 5px 20px;
    background: #C1FF4F;
    color: #000000;
    font-family: 'DM Sans';
    border: none;
    border-radius: 5px;
}

#main_projects_btn:hover {
    cursor: pointer;
}

#main_CV_btn {
    padding: 5px 20px;
    background: #000000;
    color: #ffff;
    font-family: 'DM Sans';
    border: 1px solid gray;
    border-radius: 5px;
}

#main_CV_btn:hover {
    cursor: pointer;
}

.info_container {
    color: gray;
    font-size: 1rem;
    padding: 30px 0px 30px 50px;
    border-bottom: 1px solid #1a1a1a;
}
.card_container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.card {
    border: 1px solid gray;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: #1a1a1a;
}

.card_type {
    padding-bottom: 10px;
}

.card_title {
    color: #ffff;
}

.card_description {
    font-size: 0.9rem;
}

.subtitle {
    margin: 0;
    padding-bottom: 16px;
}

.skills_btn {
    background: #023800;
    color: #ace446;
    border: 1px solid #86b137;
    border-radius: 5px;
    padding: 2.5px 10px;
}

.skills_btn:hover {
    background: #045f00;
    cursor: pointer;
}

#contacts_container {
    display: flex;
    gap: 15px;
}

.contact_btn{
    font-family: 'DM Mono', serif;
    font-size: 0.9rem;
    display: flex;
    gap: 5px;
    background: #1a1a1a;
    color: grey;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 8px 12px;
    align-items: center;
}

.contact_btn:hover{
    color: lightgray;
    border-color: lightgray;
}

#green {
    border-radius: 10px;
    background-color: #ace446;
    width: 10px;
    height: 10px;
    display: inline-block;
}

#blue {
    border-radius: 10px;
    background-color: #2057bd;
    width: 10px;
    height: 10px;
    display: inline-block;
}

